<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tracker</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-gray-100">
    <%= render("navbar.html", conn: @conn, current_user: @current_user) %>

    <%= if assigns[:header_text] do %>
      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight text-gray-900">
            <%= assigns[:header_text] %>
          </h1>
        </div>
      </header>
    <% end %>

    <%= render_many get_flash(@conn), __MODULE__, "notice.html", as: :flash %>

    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
